services:
  mariadb:
    image: mariadb:10.5
    restart: always
    environment:
      # Variables d'environnement qui seront converties en secrets
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
      MARIADB_DATABASE: ${MARIADB_DATABASE}
      MARIADB_USER: ${MARIADB_USER}
      MARIADB_PASSWORD: ${MARIADB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mariadb-data:/var/lib/mysql
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
    labels:
      - "io.kompose.network/2026-s7-esiea-devops-cicd-tp1-wordpress-net=true"
      - "io.kompose.service=mariadb"

  wordpress:
    image: wordpress:6.3.2-php8.0-apache
    restart: always
    depends_on:
      - mariadb
    environment:
      WORDPRESS_DB_HOST: mariadb
      WORDPRESS_DB_NAME: ${MARIADB_DATABASE}
      WORDPRESS_DB_USER: ${MARIADB_USER}
      WORDPRESS_DB_PASSWORD: ${MARIADB_PASSWORD}
    ports:
      - "8080:80"
    volumes:
      - wordpress-data:/var/www/html
    deploy:
      replicas: 4
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
    labels:
      - "io.kompose.network/2026-s7-esiea-devops-cicd-tp1-wordpress-net=true"
      - "io.kompose.service=wordpress"

volumes:
  mariadb-data:
    driver: local
  wordpress-data:
    driver: local

networks:
  default:
    name: 2026-s7-esiea-devops-cicd-tp1-wordpress-net
