name: CICD

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Generate secrets YAML from GitHub Secrets
      env:
        MARIADB_ROOT_PASSWORD: ${{ secrets.MARIADB_PASSWORD }}
        MARIADB_DATABASE: ${{ secrets.MARIADB_DATABASE }}
        MARIADB_USER: ${{ secrets.MARIADB_USER }}
        MARIADB_PASSWORD: ${{ secrets.MARIADB_PASSWORD }}
      run: |
        set -e
        
        # Créer le dossier k8s
        mkdir -p PaulineSoubrieWordpress
        
        # Fonction pour encoder en base64
        encode_base64() {
          echo -n "$1" | base64
        }
        
        # Générer le fichier yaml des secrets
        cat > PaulineSoubrieWordpress/secrets.yaml <<EOF
        ---
        apiVersion: v1
        kind: Secret
        metadata:
          name: mysql-root-password
        type: Opaque
        data:
          mysql_root_password: $(encode_base64 "$MYSQL_ROOT_PASSWORD")
        ---
        apiVersion: v1
        kind: Secret
        metadata:
          name: mysql-database
        type: Opaque
        data:
          mysql_database: $(encode_base64 "$MYSQL_DATABASE")
        ---
        apiVersion: v1
        kind: Secret
        metadata:
          name: mysql-user
        type: Opaque
        data:
          mysql_user: $(encode_base64 "$MYSQL_USER")
        ---
        apiVersion: v1
        kind: Secret
        metadata:
          name: mysql-password
        type: Opaque
        data:
          mysql_password: $(encode_base64 "$MYSQL_PASSWORD")
        EOF

        echo "Fichier secrets.yaml généré avec succès"
    
    - name: Install Kompose
      run: |
        curl -L https://github.com/kubernetes/kompose/releases/download/v1.38.0/kompose-linux-amd64 -o kompose
        chmod +x kompose
        sudo mv kompose /usr/local/bin/kompose
    - name: Convert docker-compose to Kubernetes manifests
      run: |
        kompose convert -f docker-compose.yml -o PaulineSoubrieWordpress/
    
    - name: Zip Kubernetes YAML files
      run: |
        zip -r PaulineSoubrieWordpress.zip PaulineSoubrieWordpress/

    - name: Install lftp
      run: sudo apt-get update && sudo apt-get install -y lftp

    - name: Upload zip to FTP
      env:
          FTP_HOST: ${{ secrets.FTP_HOST }}
          FTP_USER: ${{ secrets.FTP_USER }}
          FTP_PASSWORD: ${{ secrets.FTP_PASSWORD }}
          FTP_PATH: ${{ secrets.FTP_PATH }}
      run: |
        lftp -u "$FTP_USER","$FTP_PASSWORD" "$FTP_HOST" <<EOF
        set ssl:verify-certificate no
        cd $FTP_PATH
        put PaulineSoubrieWordpress.zip
        bye
        EOF
