name: wordpress_cicd

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  main_job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Create secrets
        env:
          MARIADB_ROOT_PASSWORD: ${{ secrets.MARIADB_ROOT_PASSWORD }}
          MARIADB_USER: ${{ secrets.MARIADB_USER }}
          MARIADB_PASSWORD: ${{ secrets.MARIADB_PASSWORD }}
          
        run: |
          mkdir -p secrets
          echo -n "$MARIADB_ROOT_PASSWORD" > secrets/mariadb_root_password.txt
          echo -n "$MARIADB_USER" > secrets/mariadb_user.txt
          echo -n "$MARIADB_PASSWORD" > secrets/mariadb_password.txt
      - name: Install Kompose
        run: |
          curl -L https://github.com/kubernetes/kompose/releases/download/1.28.0/kompose-linux-amd64 -o kompose
          chmod +x kompose
          sudo mv kompose /usr/local/bin/

      - name: Convert docker-compose to Kubernetes
        run: |
          mkdir k8s
          kompose convert -f docker-compose.yml -o k8s/

      - name: Create kustomization.yml
        run: |
          cd k8s
          echo "resources:" > kustomization.yaml
          for file in *.yaml; do
            if [ "$file" != "kustomization.yaml" ]; then
              echo "  - $file" >> kustomization.yaml
            fi
          done

      - name: Zip Kubernetes YAML files
        run: |
          cd k8s
          zip -r ../PaulineSoubrieWordpress.zip *.yaml *.yml

      - name: Install lftp
        run: sudo apt-get update && sudo apt-get install -y lftp

      - name: Upload zip to FTP
        env:
          FTP_HOST: ${{ secrets.FTP_HOST }}
          FTP_USER: ${{ secrets.FTP_USER }}
          FTP_PASSWORD: ${{ secrets.FTP_PASSWORD }}
          FTP_PATH: ${{ secrets.FTP_PATH }}
        run: |
          lftp -u "$FTP_USER","$FTP_PASSWORD" "$FTP_HOST" <<EOF
          set ftp:ssl-allow no
          mkdir -p $FTP_PATH
          cd $FTP_PATH
          put PaulineSoubrieWordpress.zip
          bye
          EOF
